@import url('https://fonts.googleapis.com/css?family=Raleway|Lato:400,700');

body {
  padding: 0;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  background: black;
  color: white;
}

header {
  font-family: "Raleway", sans-serif;
  margin: 0 0 20px 0;
}

footer{
  margin: 10px 0;
  font: 1.2em "Lato";
  text-align: center;
}

#logo, #shop-title {
  vertical-align: middle;
}
#logo {
  width: 250px;
}
#shop-title {
  display: inline-block;
}
a {
  color: white;
  text-decoration: none;
}

/*Switch view buttons block**/
.switch {
  display: none;
  color: black;
}
.switch:not(:checked) + label {
  color: gray;
}
.switch-view {
  cursor: pointer;
  font-size: 1.5em;
}
label[for="tiles"]{
  margin-left: 50px;
}
label[for="table"] {
  margin-left: 20px;
}

input[id="table"]:checked ~ .shop-items > .cat-card {
  display: block;
  width: 100%;
  margin: 10px 0;
}
input[id="table"]:checked ~ .shop-items > .cat-card > .cat-image,
input[id="table"]:checked ~ .shop-items > .cat-card > .cat-description,
input[id="table"]:checked ~ .shop-items > .cat-card > p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2vw;
  padding: 0;
}
input[id="table"]:checked ~ .shop-items > .cat-card > .cat-image {
  width: 25%;
}
/*align img in center*/
input[id="table"]:checked ~ .shop-items > .cat-card > .cat-image img {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

input[id="table"]:checked ~ .shop-items > .cat-card > .cat-description {
  width: 30%;
}

input[id="table"]:checked ~ .shop-items > .cat-card > p {
  width: 30%;
}

/*Shop items block*/
.shop-items {
  width: auto;
  margin: 0 5vw 0 5vw;
}
.cat-card {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 20px 20px 0;
}
.cat-card:hover, .cat-image img:hover {
  opacity: .7;
}
.cat-image {
  position: relative;
  height: 250px;
}
.cat-image img {
  width: 100%;
  max-height: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.cat-name, .cat-category {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cat-category a{
  font-size: .8em;
  padding-right: 10px;
}
.cat-card h3 a:hover, .cat-category a:hover {
  color: red;
}
.rating {
  margin: 20px 0;
  display: inline-block;
  font-size: 1.7em;
}
.rating input {
  display: none;
}
.rating label {
  color: white;
  float: right;
  text-shadow: 0px 0px 5px black;
}
.rating input:active ~ label, .rating input:hover ~ label {
  color: #ffd700;
}
.rating input:checked ~ label {
  color: #ffd700;
}

.prices{
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}
.new-price {
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  }
.old-price {
  margin-left: 15px;
  text-decoration: line-through;
}
.cat-card p {
  text-indent: 20px;
  font-size: .9em;
  text-align: justify;
}
